<div class="todo-container">
  <h1>Todo List</h1>
  <input
    [(ngModel)]="newTodoTitle"
    placeholder="Add a new todo"
    (keydown.enter)="addTodo()"
  />
  <div class="error-container">
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </div>
  <button (click)="addTodo()">Add</button>

  <div class="todo-lists">
    <div class="todo-list">
      <h2>Active Tasks</h2>
      <ul>
        <li *ngFor="let todo of activeTodos">
          <app-todo-item
            [todo]="todo"
            (toggle)="toggleTodoCompletion(todo)"
            (delete)="deleteTodo(todo)"
          ></app-todo-item>
        </li>
      </ul>
    </div>

    <div class="todo-list">
      <h2>Completed Tasks</h2>
      <ul>
        <li *ngFor="let todo of completedTodos">
          <app-todo-item
            [todo]="todo"
            (toggle)="toggleTodoCompletion(todo)"
            (delete)="deleteTodo(todo)"
          ></app-todo-item>
        </li>
      </ul>
    </div>
  </div>
</div>
