<div class="todo-container">
  <h1>Todo List</h1>
  <div class="input-container">
    <input
      #newTodoInput
      [(ngModel)]="newTodoTitle"
      placeholder="Add a new todo"
      (keydown.enter)="addTodo()"
    />
    <button (click)="addTodo()">Add</button>
  </div>
  <div class="error-container">
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </div>

  <div class="todo-lists">
    <div class="todo-list">
      <h2>Active Tasks</h2>
      <ul>
        <li *ngIf="activeTodos.length === 0">
          No active tasks present
          <br />
          <a href="#" (click)="focusAddTask($event)"
            >Click here to add a new task</a
          >
        </li>
        <li *ngFor="let todo of activeTodos">
          <app-task
            [todo]="todo"
            (toggle)="toggleTodoCompletion(todo)"
            (delete)="deleteTodo(todo)"
            (addSubtask)="addSubtask(todo, $event)"
          ></app-task>
        </li>
      </ul>
    </div>

    <div class="todo-list">
      <h2>Completed Tasks</h2>
      <ul>
        <li *ngIf="completedTodos.length === 0">No completed tasks present</li>
        <li *ngFor="let todo of completedTodos">
          <app-task
            [todo]="todo"
            (toggle)="toggleTodoCompletion(todo)"
            (delete)="deleteTodo(todo)"
            (addSubtask)="addSubtask(todo, $event)"
          ></app-task>
        </li>
      </ul>
    </div>
  </div>
</div>
